@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
    
}

html{
    scroll-behavior:smooth;
    overflow-x: hidden;
}

/* Menu */
.menu{
    background-color:  #FFF;
    display: flex;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: 200;
    user-select: none;
    height: 60px;
}
nav{
    display: flex;
    position: relative;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex; 
    justify-content: center;
    height: 64px;
    width: 70%;
}
nav ul li{
    padding: 20px 0 0 30px;
    list-style: none;
}
nav ul li.logo{
    cursor:pointer;
    position: absolute;
    
}
nav ul li a{
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

/* Main */


.video{
    max-height:115vh;
    height: 100%;
}
.primeira-tela video{
    background-size: cover;
    filter: blur(4px);
    z-index: -100;
    width: 100%;
    height: 100%;
}
.container__main{
    display: flex;
    position: relative;
    bottom: 760px;
    left: 110px;
    max-width: 1300px;
    width: 100%;
    height: 700px;
    align-items: flex-start;
    
}
.borda .eu{
    background: rgba(255, 253, 253, 0.2);
}
.borda-foto{
    position:absolute;
    left: 68.7%;
}

.container-nome h1{
    white-space: nowrap;
    max-width: 340px;
    width:100%;
    margin:0 auto;
    overflow: hidden;
    font-size: 25px;
    animation: digitando 3s steps(40), blink .4s infinite alternate;
    border-right: 2px solid;
}
.container-nome a{
    text-decoration: none;
    color: black;
}
.container-nome .textos-nomes button{
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 8px;
    background-image:linear-gradient(45deg,rgba(128, 0, 128, 0.795), rgba(128, 0, 128, 0.674), blue); 
    animation: colors 15s ease infinite;
    background-size:400% 400%;
    max-width: 190px;
    width: 100%;
    font-size: 25px;
}
.container-nome .textos-nomes button:hover{
    animation: colors 2s ease infinite;
}
.container-nome{
    border-radius: 8px;
    position: absolute;
    top: 30%;
    font-family: 'Bangers', cursive;
    font-weight: bold;
    z-index: 1; 
    max-width: 510px;
    width: 100%;
    height: 200px;  
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
}
.textos-nomes span{
    color: black;
}
.textos-nomes{
    /* stonks*/
    position:relative; 
    top: 22%;
}
.primeira-tela .container-nome h1{
     font-size: 50px;
     text-align: center;
     color: rgb(76, 0, 255);
     font-weight:normal;
     width:67%;
}




/* Inicio estilizção segunda div */
.segunda-parte{
    position: relative;
    height: 96vh;
}
.sobre{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 9%;
    width: 100%;
    height: 80%;
}
.textos{
    text-overflow: clip;
    width: 40%;
    margin: 5% 0 0 10%;
    height: auto;
    max-height: 350px;
    color: #FFF;
    
}
.segunda-parte .container{
    background-image:linear-gradient(45deg,rgba(128, 0, 128, 0.795), rgba(128, 0, 128, 0.674), blue);
    background-size:400% 400%;
    width: 100%;
    height: 100%;
    animation: colors 15s ease infinite;
    position:relative;
}
.sobre .boneco{
    position: absolute;
    height: 100%;
    margin: 0 0 0 60% ;
}
.segunda-parte .container .sobre .textos h2.text-intro{
    text-indent: 3ch; /* Parágrafo */
    margin: 5% 0 0 0;
}
.sobre h1{
    text-align: center;
    
}





@keyframes digitando{
    from{
        max-width: 0;
    }to{
        max-width:10em;
    }
}
@keyframes blink{
    40%{
        border-color: rgba(0, 0, 0, 0.2)
    } 
}

@keyframes colors{
    0% {
        background-position:0% 50%;

    }
    50% {
        background-position:100% 50%;

    }
    100%{
        background-position:50% 0%;

    }

}



/*Estilização da Scroll Bar */
::-webkit-scrollbar{
    width:15px;
    
}
::-webkit-scrollbar-thumb{ /* botão de rolagem */
    background:rgba(0, 0, 255, 0.278);
    border-radius:30px;
}



/*         Terceira Parte          */

















